<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cards</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header class="ion-text-capitalize" titulo="cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="medium">
      <ion-icon slot="start" color="secondary" name="pin-outline"></ion-icon>
      <ion-label>Heroe o Villano</ion-label>
    </ion-item>
    <ion-card-content>
      Wade Winston Wilson, más conocido como Deadpool,​ (y en España también
      como Masacre en los cómics de Forum y Panini) es un personaje ficticio,
      mercenario, supervillano​​ y antihéroe,​ que aparece en los cómics
      publicados por Marvel Comics
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc3ugMa1oPoEnHTauYM2-jXO_GLhj2ysAOYA&usqp=CAU"
    ></ion-img>

    <ion-card-content>
      Deadpool normalmente actúa enfundado en un traje de colores rojo y negro y
      lleva el rostro cubierto para ocultar sus horribles cicatrices. A menudo
      es catalogado como un mercenario, un villano, héroe o un antihéroe. Se
      caracteriza porque en sus conversaciones son constantes las referencias a
      la cultura popular, así como la utilización del sarcasmo y del humor
      negro. Además, emplea todo tipo de alta tecnología para la ejecución de
      sus misiones
    </ion-card-content>
  </ion-card>
</ion-content>
